body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 16px;
    color: #0000ee;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: #0000ee;
    text-decoration: none;
}

.btnLike {
text-align: center;
width: 150px;
height: 55px;
background-color: pink;
}

.login-link:visited {
    color: #0000ee;
}

.login-link:hover {
    text-decoration: underline;
}

.newpost-area {
    font-size: 16px;
    color: #0000ee;
    position: absolute;
    top: 10px;
    left: 10px;
}
.emptyBox {
width: 130px;
height: 55px;
}

.newpost-link {
    color: #0000ee;
    text-decoration: none;
}

.newpost-link:visited {
    color: #0000ee;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
	
	width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=password] {
	
	width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

a:hover,
    a:focus {
    padding: 10px 25px;
    background: #e6ffff;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
}

footer {
    display: block;
    border: 2px solid #888;
    margin-bottom: 50px;
	margin-left: -10px;
    padding: 5px;
    background: #eee;
}

    input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

/* Set a style for all buttons */
button {
    background-color: #008b8b;
    color: white;
    padding: 14px 20px;
    margin-top: -3px;
    border: none;
    cursor: pointer;
    width: 35%;
}


/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #a6a6a6;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 10%
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}