{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col-md-12">
        <h2>New post</h2>
    </div>

    <div class="col-md-12">
        <form method="post" role="form">

            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" id="subject" name="subject" value="{{subject}}">
            </div>
           
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content" value="{{content}}" rows="10">{{content}}</textarea>
            </div>
           
            {% if error %}
            <div class="error">
                {{error}}
            </div>
            {% endif %}

            <div class="clearfix">
	          <input type="submit" class="btn btn-info" value="Submit">
	          <input type="submit" class="btn btn-info" value="Cancel" onclick="window.location='/blog'; return false;">
	        </div>
        </form>
    </div>
</div>
{% endblock %}